################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Optibox.vcxproj.user
/Optibox.vcxproj.filters
/Optibox.vcxproj
/Optibox.VC.VC.opendb
/Optibox.VC.db
/Optibox.sln
/.vs/Optibox/v14
/Debug/vc140.pdb
/Debug/vc140.idb
/Debug/Optibox.tlog
/Debug/Optibox.log
/Debug
